<!DOCTYPE html>
<html>
    <head>
        <title>Jumping Sumo Video Monitor</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jumping-sumo.js")"></script>
    </head>

    <body>
        <div class="small-pictures-box">
            <img id="p0" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p1" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p2" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p3" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p4" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p5" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p6" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p7" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
            <img id="p8" src="@routes.Assets.at("/images/whitenoise.gif")" class="small-pictures noise" title="Zeige Bild in groß">
        </div>
        <div class="big-picture-box">
            <img id="monitor" src="" class="big-picture noise" title="Zurück zum Video">
        </div>
    </body>
</html>